<footer>
    <div class="socials">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
    </div>

    <div>&copy; Airbnb Pvt. Ltd.</div>

    <div class="links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>
