<nav class="navbar navbar-expand-md bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <i class="bi bi-compass-fill"></i>
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
            </div>

            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Add New Listing</a>
                <% if (!user) { %>
                <a class="nav-link" href="/users/signup">SignUp</a>
                <a class="nav-link" href="/users/login">Login</a>
                <% } %>
                <% if (user) { %>
                <a class="nav-link" href="/users/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
